body {
    font-family: 'Comic Sans MS', sans-serif;
}

a:link, a:visited {
    color: deepskyblue;
}

a.card-footer-item:hover, a.card-footer-item:active {
    background-color: lightblue;
    color: hsl(0, 0%, 96%);
    font-weight: bold;
}

.navbar {
    position: fixed;
    z-index: 99 !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
}

.header-image {
    background-image: url("../img/space.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

i.fa-reverse {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

h2.title {
    color: deepskyblue;
}

#header {
    color: #fff;
}

#aboutme {
    background-color: #f5f5f5;
}

#portrait {
    border-radius: 20px 100px;
}

/* my-projects */
.row {
    align-items: stretch;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: min-content;
}

.row.is-ancestor {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem; 
}

.row.is-ancestor:last-child {
    margin-bottom: -0.75rem; 
}

.row.is-ancestor:not(:last-child) {
    margin-bottom: 0.75rem;
}

.row.is-child {
    margin: 0 !important;
}

.row.is-parent {
    padding: 0.75rem;
}

.row.is-vertical {
    flex-direction: column;
}

.row.is-vertical > .row.is-child:not(:last-child) {
    margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 769px), print {
    .row:not(.is-child) {
        display: flex; }
    .row.is-1 {
        flex: none;
        width: 8.33333%; }
    .row.is-2 {
        flex: none;
        width: 16.66667%; }
    .row.is-3 {
        flex: none;
        width: 25%; }
    .row.is-4 {
        flex: none;
        width: 33.33333%; }
    .row.is-5 {
        flex: none;
        width: 41.66667%; }
    .row.is-6 {
        flex: none;
        width: 50%; }
    .row.is-7 {
        flex: none;
        width: 58.33333%; }
    .row.is-8 {
        flex: none;
        width: 66.66667%; }
    .row.is-9 {
        flex: none;
        width: 75%; }
    .row.is-10 {
        flex: none;
        width: 83.33333%; }
    .row.is-11 {
        flex: none;
        width: 91.66667%; }
    .row.is-12 {
        flex: none;
        width: 100%;
      }
}

.col {
    background-color: transparent;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #594F4F;
    max-width: 100%;
    position: relative;
    margin-left: 15px;
}

.col-header {
    background-color: none;
    align-items: stretch;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    display: flex;
}

.col-header-title {
    align-items: center;
    color: #363636;
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem; 
}

.col-header-title.is-centered {
    justify-content: center;
}

.button {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 2px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 2px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 2px);   
    text-align: center;
    white-space: nowrap;
}

.button.is-small {
    border-radius: 3px;
    font-size: 0.75rem;
}

.button.is-round {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}

.button.is-info {
    background-color: skyblue;
    border-color: transparent;
    color: #fff;
}