body {
    font-family: 'Comic Sans MS', sans-serif;
}

a:link, a:visited {
    color: deepskyblue;
}

a.card-footer-item:hover, a.card-footer-item:active {
    background-color: lightblue;
    color: hsl(0, 0%, 96%);
    font-weight: bold;
}

.navbar {
    position: fixed;
    z-index: 99 !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
}

.header-image {
    background-image: url("../img/space.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

i.fa-reverse {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

h2.title {
    color: deepskyblue;
}

#header {
    color: #fff;
}

#aboutme {
    background-color: #f5f5f5;
}

#portrait {
    border-radius: 20px 100px;
}

/* my-projects */
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
}

.card-header-title {
    margin: 0 auto;
}

.button {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 2px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 2px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 2px);   
    text-align: center;
    white-space: nowrap;
}

.button.is-small {
    border-radius: 3px;
    font-size: 0.75rem;
}

.button.is-round {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}

.button.is-info {
    background-color: skyblue;
    border-color: transparent;
    color: #fff;
}