@use "../layouts/nav" as nav;

$home-section-max-height: 25rem;

.home-section {
    .section__header {
        width: max-content;
        margin: 0 auto;
    }

    .section__title {
        font-size: var(--fs-700);
        line-height: 0.9;
    }

    .section__subtitle {
        font-size: 0.8em;
        margin-bottom: 1.2rem;
    }

    &__myprojects {
        .projects {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1rem;
        }
    }

    &__aboutme {
        height: calc(100vh - 2 * nav.$navbar-height);
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            display: flex;

            picture {
                align-self: start;
                background: #fff;
                border: 0.5em solid #fff;
                border-radius: 2em;
                -webkit-box-shadow: 0 0.5em 1em rgb(0 0 0 / 15%);
                box-shadow: 0 0.5em 1em rgb(0 0 0 / 15%);
                grid-area: image;
                overflow: hidden;

                align-self: auto;
                height: 100%;
                max-height: $home-section-max-height;
                max-width: 20rem;
                min-width: 15rem;
                width: 25vw;
            }

            div {
                padding: 0.75rem;

                header {
                    width: max-content;
                    margin: 0 auto;
                }

                .section__title {
                    font-size: var(--fs-700);
                    line-height: 0.9;
                }

                .section__subtitle {
                    font-size: 0.8em;
                    margin-bottom: 1.2rem;
                }

                .section__content {
                    margin: 0 auto;
                }
            }
        }
    }
}
