@use '../abstracts/mixins' as *;

.image {
    display: block;
    position: relative;

    img {
        display: block;
        height: auto;
        width: 100%;
    }

    .is-5x3 {
        @include overlay;
        width: 100%;
        height: 100%;
    }
}