---
layout: base.njk
eleventyNavigation: 
    key: Home
    order: 100
---

<section class="section container home-aboutme">
        {% image "./src/assets/imgs/portfolio - Copy.jpeg", "An image of Joseph", "(min-width 15rem), 50vw, 100vw" %}
        <div>
            <header>
                <h2 class="section__title">About Me</h2>
                <p class="section__subtitle">Everything you need to know
            </header>
            <p>
                I'm a developer with a passion to learn new things and try them out.
                Whether it's graphics, web design, or something else.
            </p>
            <br />
            <p>
                When I'm not programming or designing something. I like to play with my dog.
                Hangout with friends and family.
            </p>
            <br />
            <a href="/about">Click here to learn more</a>
        </div>
</section>

<section class="section">
    section 2
</section>

<section class="section">
    section 3
</section>

<section class="section">
    section 4
</section>
